body {
  background-color: #6f9e80;
  margin: 0;
  font-family: sans-serif;
}

.sun {
  display: inline-block;
}

.sun img {
  width: 300px;
  height: 300px;
  transition: transform 2s ease;
  padding: 30px;
}

.new_sun img:hover {
  transform: rotate(360deg);
}

form {
  padding: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.new_field input {
  padding: 10px;
  border: none;
}

.new_field input:focus-visible {
  outline: none;
  box-shadow: 10px 10px 10px black;
}

.new_field input:focus-visible {
  outline: none;
  box-shadow: 10px 10px 10px black;
}

.new_checkbox input {
  width: 0;
  height: 0;
}

.new_checkbox label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid black;
}

.new_checkbox input:checked + label {
  background-color: #2ecc71;
}
